* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  color: darkturquoise;
}

::selection {
  color: darkturquoise;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
  position: relative;
}

#scrollto {
  background-color: black;
  color: wheat;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  padding-bottom: 4px;
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  right: 3%;
  bottom: 4%;
  z-index: 1000;
  display: none;
}

@media (max-width: 575px) {
  #scrollto {
    width: 35px;
    height: 35px;
    right: 7%;
  }
}

@media (max-width: 320px) {
  #scrollto {
    width: 35px;
    height: 35px;
    right: 10%;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 15px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 420px) {
  .container {
    width: 375px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    width: 1170px;
  }
}

.button {
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 1em 2em;
  background-color: black;
  border: 1px solid #333;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 575px) {
  .button {
    margin-top: 20px;
  }
}

.button a {
  color: white;
  font-weight: bold;
}

.button:hover {
  background-color: white;
  border: 1px solid #333;
}

.button:hover a {
  color: #333;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aadfec), to(#21a6c7));
  background-image: linear-gradient(to top, #aadfec, #21a6c7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .form {
  position: relative;
  width: 80vw;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  color: white;
}

body .form .clip-path {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#aadfec), to(#21a6c7));
  background-image: linear-gradient(to top, #aadfec, #21a6c7);
  -webkit-clip-path: circle(100.2% at -39% 50%);
          clip-path: circle(100.2% at -39% 50%);
}

body .form .clip-path h1 {
  color: #aadfec;
  position: absolute;
  top: 40%;
  left: 5%;
  -webkit-transition: 2s;
  transition: 2s;
}

body .form .clip-path h1 i {
  color: white;
  margin-left: 10px;
}

@media (max-width: 425px) {
  body .form .clip-path h1 i {
    margin-left: 5px;
  }
}

@media (max-width: 1000px) {
  body .form .clip-path h1 {
    font-size: 30px;
    top: 2%;
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  body .form .clip-path h1 {
    font-size: 30px;
    top: 2%;
    margin-left: 0;
  }
}

body .form form fieldset {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-5%, 10%);
          transform: translate(-5%, 10%);
  border: 1px solid transparent;
  -webkit-transition: 2s;
  transition: 2s;
}

body .form form fieldset .name input {
  position: relative;
  width: 35%;
}

@media (max-width: 991px) {
  body .form form fieldset {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
}

@media (max-width: 768px) {
  body .form form fieldset {
    -webkit-transform: translate(-25%, 10%);
            transform: translate(-25%, 10%);
  }
}

body .form form fieldset .textarea {
  width: 50%;
  height: 100px;
  border-top: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-left: 0;
  border-radius: 2px;
  outline: transparent;
}

@media (max-width: 425px) {
  body .form form fieldset .textarea {
    width: 75%;
  }
}

body .form form fieldset input {
  width: 70%;
  height: 30px;
  margin-bottom: 10px;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-left: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  padding: 25px;
  outline: transparent;
  position: relative;
}

body .form form fieldset input:focus {
  border-bottom: 2px solid #aadfec;
}

body .form form fieldset input:placeholder-shown {
  color: #aadfec;
}

@media (max-width: 425px) {
  body .form form fieldset input {
    padding: 20px;
    width: 70%;
  }
}

@media (max-width: 425px) {
  body .form form fieldset {
    -webkit-transform: translate(-35%, 10%);
            transform: translate(-35%, 10%);
  }
}

body .form form fieldset button {
  padding: 9px 35px;
  font-size: 20px;
  font-weight: 800;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  outline: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .form form fieldset button:hover {
  background-color: #aadfec;
  color: black;
}
/*# sourceMappingURL=contact-us.css.map */