// media
$ext-larg: 991px;
$larg: 768px;
$med: 575px;
$s-med: 425px;
$small: 375px;
$ext-small: 320px;
$trans: 0.3s;

// colors
$black: black;
$semi_black: #333;
$main-color: #161616;
$base-color: #fff;
$off-withe: #ccd2d5;
$vilot: #4285f4;
$red: #db4437;
$yellow: #f4b400;
$light_blue: #03dac6;
$bluerish: #83c6ee;
$green: #0f9d58;
$space_black: #001d2f;
$Light_black: #001827;
