.container {
  padding: 15px;
  margin: 0 auto;
  position: relative;
  @media (min-width: 420px) {
    width: 375px;
  }
  @media (min-width: 576px) {
    width: 550px;
  }

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }

  @media (min-width: 1199.98px) {
    width: 1170px;
  }
}
