header {
  .container {
    display: flex;
    justify-content: space-between;
    .bars {
      display: none;
      .fa-bars {
        font-size: 30px;
        cursor: pointer;
      }
      @media (max-width: 768px) {
        display: block;
        margin: auto 0;
      }
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      ul {
        display: flex;
        align-items: center;

        li {
          display: block;
          text-align: center;
          a {
            color: $main-color;
            font-size: 18px;
            font-weight: 600;
            padding: 10px;
            position: relative;
            text-align: center;
            .fa-user {
              font-size: 24px;
              cursor: pointer;
            }
          }
          &:not(:last-child) a::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #caf7e3;
            transform: scale(0.2);
            opacity: 0;
            transition: 0.3s;
          }
          &:not(:last-child):hover a::before {
            opacity: 1;
            transform: scale(1);
          }
          &:not(:last-child) {
            margin-right: 25px;
          }
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .show {
      display: flex;
      width: 100%;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.323233232);
      position: absolute;
      top: 100%;
      right: -30px;
      z-index: 3;
      &::before {
        content: "";
        position: absolute;
        border: solid;
        border-width: 12px;
        border-color: transparent transparent rgba(0, 0, 0, 0.323233232)
          transparent;
        top: -12%;
        right: 1%;
      }

      li {
        margin: 8px;
        a {
          padding: 5px;
          font-size: 20px;
          font-weight: 600;
          color: $base-color;
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
}
