@import "../sass/helpers/variables";
@import "../sass/helpers/globals";
@import "../sass/layout/grid";
@import "../sass/helpers/componant";

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to top, #aadfec, #21a6c7);
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    position: relative;
    width: 80vw;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .clip-path {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, #aadfec, #21a6c7);
      clip-path: circle(100.2% at -39% 50%);
      transition: 1s;
      z-index: 1;
      @media (max-width: $larg) {
        clip-path: circle(100.2% at -60% 50%);
      }
      @media (max-width: $s-med) {
        clip-path: circle(100.2% at -75% 50%);
      }
      @media (max-width: $ext-small) {
        clip-path: circle(100.2% at -90% 50%);
      }
    }
    form {
      outline: none;
      border: none;
      padding: 10px 20px;
      text-align: center;
      z-index: 2;
      h1 {
        text-align: center;
        color: #aadfec;
        transition: $trans;
        @media (max-width: $ext-small) {
          font-size: 26px;
        }
      }
      .input_field {
        position: relative;
        input,
        textarea {
          width: 100%;
          border-radius: 5px;
          outline: none;
          border: none;
          border-bottom: 3px solid white;
          padding: 12px;
          margin-bottom: 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
        label {
          color: #999;
          pointer-events: none;
          position: absolute;
          left: 0.8rem;
          top: 0.9rem;
          transition: 0.5s;
          font-size: 16px;
          span {
            display: none;
          }
        }
        textarea {
          outline: none;
          border: none;
          margin-bottom: 0;
        }
        input:focus {
          border-bottom: 3px solid #21a6c7;
        }
        .focusedlabel {
          font-size: 12px;
          font-weight: 600;
          color: #000;
          background-color: white;
          padding: 2px 5px;
          border-radius: 5px;
          pointer-events: none;
          position: absolute;
          left: 0.8rem;
          top: -0.4rem;
        }
        input:focus + label span {
          display: inline-block;
          color: red;
          margin-left: 5px;
        }
      }
      .submit {
        background-color: #21a6c7;
        color: white;
        border: 2px solid white;
        padding: 15px 45px;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 800;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #aadfec;
        }
      }
    }
  }
}
