.departments {
  overflow: hidden;
  .container {
    width: 100%;
    // Start guide
    .guide_bottons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      a {
        font-weight: 800;
        padding: 1em 2em;
        background-color: $vilot;
        color: white;
        border: 2px solid white;
        outline: none;
        border-radius: 50px;
        transition: 0.5s;
        @media (max-width: $larg) {
          display: none;
        }
        &:not(:last-of-type) {
          margin-right: 10px;
        }
        &:hover {
          transform: translateY(-10px);
          background-color: white;
          color: $vilot;
          border: 2px solid $vilot;
        }
        &:nth-of-type(2) {
          background-color: $red;
          &:hover {
            background-color: white;
            color: $red;
            border: 2px solid $red;
          }
        }
        &:nth-of-type(3) {
          background-color: $yellow;
          &:hover {
            background-color: white;
            color: $yellow;
            border: 2px solid $yellow;
          }
        }
        &:nth-of-type(4) {
          background-color: $light_blue;
          &:hover {
            background-color: white;
            color: $light_blue;
            border: 2px solid $light_blue;
          }
        }
        &:nth-of-type(5) {
          background-color: $bluerish;
          &:hover {
            background-color: white;
            color: $bluerish;
            border: 2px solid $bluerish;
          }
        }
        &:last-of-type {
          background-color: $green;
          &:hover {
            background-color: white;
            color: $green;
            border: 2px solid $green;
          }
        }
      }
    }
    // End guide
    .left {
      display: grid;
      grid-template-columns: 0.6fr 1fr;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
      transition: all 2s;
      transform: translateX(100%);
      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        padding: 25px;
        position: relative;
        img {
          flex-basis: 100%;
          width: 5%;
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        }
        @media (max-width: $s-med) {
          padding: 20px;
        }
      }
      @media (max-width: $larg) {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
      }
    }
    .right {
      display: grid;
      grid-template-columns: 1fr 0.6fr;
      justify-content: space-around;
      align-items: center;
      padding: 50px 0;
      transition: all 2s;
      transform: translateX(-100%);
      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        clip-path: polygon(
          100% 0%,
          75% 50%,
          100% 100%,
          25% 100%,
          0% 50%,
          25% 0%
        );
        padding: 50px;
        position: relative;
        img {
          flex-basis: 100%;
          width: 100%;
          clip-path: polygon(
            100% 0%,
            75% 50%,
            100% 100%,
            25% 100%,
            0% 50%,
            25% 0%
          );
        }
        @media (max-width: $larg) {
          padding: 25px;
        }
      }
      @media (max-width: $larg) {
        display: flex;
        flex-direction: column-reverse;
        padding: 40px 0;
      }
    }
    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #555;
      h1 {
        color: #83c6ee;
        padding-top: 15px;
        margin-bottom: 20px;
        @media (max-width: $s-med) {
          font-size: 26px;
        }
      }
      p {
        text-align: center;
        line-height: 1.8em;
        padding: 0 20px;
        @media (max-width: $s-med) {
          line-height: 1.5em;
          font-size: 16px;
          padding: 0 12px;
        }
      }
    }
    .right.show,
    .left.show {
      transform: translateX(0);
    }
  }
}
