.departments {
  overflow: hidden;
  .container {
    width: 100%;
    // background-color: black;
    .left {
      display: grid;
      grid-template-columns: 0.6fr 1fr;
      justify-content: center;
      padding: 80px 0;
      transition: all 2s;
      transform: translateX(100%);
      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

        padding: 15px;
        position: relative;
        img {
          flex-basis: 100%;
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        }
      }
    }
    .right {
      display: grid;
      grid-template-columns: 1fr 0.6fr;
      justify-content: space-around;
      padding: 80px 0;
      transition: all 2s;
      transform: translateX(-100%);
      figure {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        clip-path: polygon(
          100% 0%,
          75% 50%,
          100% 100%,
          25% 100%,
          0% 50%,
          25% 0%
        );
        padding: 15px;
        position: relative;
        img {
          flex-basis: 100%;
          clip-path: polygon(
            100% 0%,
            75% 50%,
            100% 100%,
            25% 100%,
            0% 50%,
            25% 0%
          );
        }
      }
    }
    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #555;
      h1 {
        color: #83c6ee;
        padding: 10px 0;
        margin-bottom: 20px;
      }
      p {
        text-align: center;
        line-height: 1.8em;
        padding: 0 20px;
      }
      button {
        padding: 0.7em 1.7em;
        border-radius: 10px 0;
        border: 2px solid white;
        background-color: #83c6ee;
        color: white;
        margin-top: 20px;
        color: white;
        font-weight: 800;
        &:hover {
          color: #83c6ee;
          background-color: white;
          border: 2px solid #83c6ee;
        }
      }
    }
    .right.show,
    .left.show {
      transform: translateX(0);
    }
  }
}
